* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: 'Poppins';
}
:root {
    --bg-color: #ffffff;
    --second-bg-color: #b8b8b8;
    --text-color: black;
    --main-color: navy;
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.nav {
    display: flex;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 15%;
    z-index: 1000;
}
#menu{
    font-size: 3.6rem;
    display: none;
    color: var(--main-color);
}
.logo{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}
.navbar a{
    margin-left: 4rem;
    color: var(--text-color);
    font-weight: 450;
    transition: 0.5s ease-in-out;
    font-size: 2rem;
    border-bottom: 3.4px solid transparent;
}
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3.4px solid var(--main-color);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 18rem;
}
.detail-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}
.detail-content h1{
    font-size: 3.5rem;
    font-weight: 750;
    margin-top: 1.6rem;
    line-height: 1.1;
}
.detail-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.detail-content p{
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 1.0;
}
.anim{
    font-size: 37px;
    font-weight: 600;
}
.anim span{
    position: relative;
}
.anim span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 10s infinite;
}
.anim span::after{
    content: "";
    height: 100%;
    animation: cursor 0.6s infinite;
}
@keyframes cursor {
    to{
        border-left: 5px solid var(--text-color);
    }
}
@keyframes words {
    0%, 33.33%{
        content: "Web Developer";
    }
    33.33%, 66.66%{
        content: "Web Designer";
    }
    66.66%, 100%{
        content: "Python Developer";
    } 
}
.profiles{
    width: 32vw;
    border-radius: 45%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.profiles:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3rem;
    padding: 1.05rem;
    border: 2px solid var(--main-color);
    background: transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: ease-in-out;
}
.icon a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5);
    box-shadow: 0 0 25px var(--main-color);
}
.btngroup{
    display: flex;
    gap: 1.5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    border-radius: 3rem;
    border: 2px solid transparent;
    transition: 0.4s ease-in-out;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
    gap: 10rem;
}
.about img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color) ;
    transition: 0.4s ease-in-out;
}
.about img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.about h2{
    font-size: 7rem;
    text-align: right;
}
.about p{
    font-size: 1.8rem;
    text-align: right;
}
.about .more{
    font-size: 1.8rem;
    text-align: right;
}
.about .btn{
    margin: 3rem 0;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}
.services{
    background-color: var(--bg-color);
    color: black;
}
.services h2{
    color: var(--text-color);
}
.servcontainer{
    display: grid;
    align-items: center;
    gap: 2.5rem;
    float: left;
    margin: 20px 20px 20px 20px;
}
.servbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.servbox:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.servdetail{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.servdetail h4{
    font-size: 4rem;
    margin: 1.5rem 0;
    font-weight: 800;
}
.servdetail p {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.1;
}
.project{
    background-color: var(--second-bg-color);
}
.probox{
  align-content: center;
    place-items: center;
    row-gap: 5rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.procard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 5px var(--main-color);
}
.procard:hover {
    box-shadow: 0 0 25px var(--main-color)
                0 0 50px var(--main-color);
    transform: scale(1.12);
}
.procard img{
    border-radius: 3rem;
    max-width: 300px;
    object-fit: cover;
}
.procard h3{
    font-size: 3rem;
}
.procard p{
    font-size: 1.8rem;
}
.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5rem 0;
    display: flex;
    gap: 3rem;
}
.contact form .input-group input,
.contact form textarea{
    width: 100%;
    padding: 3rem;
    font-size: 1.9rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    resize: none;
    margin: 1.5rem 0;
}
.footer{
    background-color: var(--second-bg-color);
    padding: 50px 0;
}
.footer .icon{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer .copyright{
    margin-top:  45px;
    font-size: 19px;
    text-align: center;
}
@media (max-width:995px) {
    #menu{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 39%;
        padding: 4rem 2rem;
        background: rgba(255, 255, 255, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2.3rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active{
        display: block;
    }
    .home{
        flex-direction: column-reverse;
        gap: 5rem;
        margin: 5rem 0;
    }
    .profiles{
      width: 64vw;
    }
    .detail-content{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .detail-content img{
        width: 56vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
        width: 51vw;
    }
    .procard{
      text-align: center;
    }
    .contact form{
        flex-direction: column;
    }
}